<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="container">
            <img src="static/images/logo.png" alt="Logo Dinas Hukum Angkatan Laut" class="logo">
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <!-- Dropdown Profil -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profilDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profil
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="profilDropdown">
                        <li><a class="dropdown-item text-dark" href="#">Sejarah</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Visi & Misi</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Struktur Organisasi</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Berita</a>
                </li>
                <!-- Dropdown Artikel -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="artikelDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Artikel
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="artikelDropdown">
                        <li><a class="dropdown-item text-dark" href="#">Fokus</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Analisa</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Opini</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Studi Kasus</a></li>
                    </ul>
                </li>
                <!-- Dropdown Regulasi -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regulasiDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Regulasi
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="regulasiDropdown">
                        <li><a class="dropdown-item text-dark" href="#">Undang - undang</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Peraturan Pemerintah</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Perpres/Kerpres</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Peraturan Menteri</a></li>
                        <li><a class="dropdown-item text-dark" href="#">Peraturan AL</a></li>
                    </ul>
                </li>
                <li><a href="#partnership">Binkorp</a></li>
                <li><a href="#">Galery</a></li>
                <li><a href="#">Diskum Kotama</a></li>
                <li><a href="#">Klinik Hukum</a></li>
            </ul>
        </nav>
    </header>
    <section id="home" class="hero position-relative">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel1) }}');"></div>
                </div>
                <div class="carousel-item">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel2) }}');"></div>
                </div>
                <div class="carousel-item">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel3) }}');"></div>
                </div>
            </div>
        </div>
        <div class="container text-center text-white">
            <div class="hero-content">
                <h2>Selamat Datang di Website Resmi Dinas Hukum Angkatan Laut</h2>
                <h3> Mewujudkan hukum TNI AL yang profesional dan akuntabel. Handal Bijak dan Adil.</h3>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <center><h2 class="about-section-title fade-in">About us</h2></center>
            <div class="about-content">
                    <div class="video-container text-center mt-5 fade-in">
                        <video width="560" height="315" controls>
                            <source src="{{ url_for('static', filename=data.video.url.split('static/')[-1]) }}" type="video/mp4">
                            Browser tidak mendukung video ini.
                        </video>
                    </div>
                <div class="about-text fade-in">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor, magna at dignissim dignissim, erat ante venenatis quam, vel viverra dui erat eget felis. Quisque metus sem, aliquet vel ex vitae, euismod lobortis justo.</p>
                    <a href="{{ url_for('aboutus') }}" class="custom-btn">Kenali Kami Lebih Lanjut</a>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="projects"  style="padding:50px 180px 200px 180px;">
        <div style="max-width:1000px; font-family:sans-serif; margin:auto; display:flex; gap:20px; align-items:flex-start;">
            
            <!-- KIRI: Card Gambar -->
            <div style="flex:1; border-radius:10px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.1); height:615px; background-color: #e1eff8;">
                <div style="padding:15px;">
                    <h2 style="color:#5b7ea7; margin:0; padding:10px; border-radius:6px 6px 0 0;">
                        Regulasi
                    </h2>
                    <ul style="list-style:none; padding:0; margin-top:10px;">
                        <li style="margin:10px 0; padding:10px; border:2px solid #ddd; border-radius:8px; height:180px; overflow:hidden;">
                            <a href="regulasi-1.html" style="text-decoration:none; color:#333; font-weight:bold;">
                                Undang-Undang Nomor 34 Tahun 2004 tentang Tentara Nasional Indonesia
                            </a>
                            <p style="margin:5px 0; font-size:14px; color:#555;">
                                Undang-Undang ini mengatur tentang peran, tugas, dan fungsi Tentara Nasional Indonesia (TNI) dalam menjaga kedaulatan negara dan keutuhan wilayah NKRI.
                            </p>
                        </li>
                    </ul>
                    <ul style="list-style:none; padding:0; margin-top:10px;">
                        <li style="margin:10px 0; padding:10px; border:2px solid #ddd; border-radius:8px; height:180px; overflow:hidden;">
                            <a href="regulasi-1.html" style="text-decoration:none; color:#333; font-weight:bold;">
                                PERKASAL NOMOR 20 THN 2025 TTG ORGANISASI DAN TUGAS KOMPI PRODUKSI PANGKALAN TNI AL
                            </a>
                            <p style="margin:5px 0; font-size:14px; color:#555;">
                                Undang-Undang ini mengatur tentang peran, tugas, dan fungsi Tentara Nasional Indonesia (TNI) dalam menjaga kedaulatan negara dan keutuhan wilayah NKRI.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- KANAN: Artikel List -->
            <div style="flex:1; padding:10px;">
            <h2 style="margin-bottom:15px; color: white;">Artikel Terbaru</h2>
            <div style="flex:1; border-radius:10px; overflow:hidden; box-shadow:0 2px 5px rgba(0,0,0,0.1); height:550px; background-color: #e1eff8;">
            <div style="padding:15px;">
                <ul style="list-style:none; padding:0;">
                    <li style="margin:10px 0; padding:10px; border:2px solid #ddd; border-radius:8px; height:180px; overflow:hidden;">
                        <a href="regulasi-1.html" style="text-decoration:none; color:#333; font-weight:bold;">
                            RESUME FOCUS GROUP DISCUSSION (FGD) WEBINAR ALTERNATIF PENYELESAIAN TINDAK PIDANA PERIKANAN DI ZEEI                        </a>
                        <p style="margin:5px 0; font-size:14px; color:#555;">
                            Undang-Undang ini mengatur tentang peran, tugas, dan fungsi Tentara Nasional Indonesia (TNI) dalam menjaga kedaulatan negara dan keutuhan wilayah NKRI.
                        </p>
                    </li>
                </ul>
            </div>  

        </div>
    </section>


    <section id="join" class="hero position-relative">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel1) }}');"></div>
                </div>
                <div class="carousel-item">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel2) }}');"></div>
                </div>
                <div class="carousel-item">
                    <div class="hero-bg" style="background-image: url('{{ url_for('static', filename=data.hero_carousel3) }}');"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="partnership">
        <!-- Judul Section -->
        <div class="partnership-header fade-in">
            <h3>Link Terkait Lainnya</h3>
        </div>

        <!-- Konten Card -->
        <div class="partnership-content fade-in">
            <div class="partnership-text">
                <h3>Radio JJM</h3>
                <center><img src="static/images/jjm.png" alt="Logo radio" class="logo-radio"></center>
                <canvas id="visitorChart" style="max-width:600px; padding:50px;"></canvas>  
            </div>

            <div class="partnership-logo">
                <div class="logo-box">
                    <h3>Link Internal</h3>
                    <ul>
                        <li><a href="https://www.tnial.mil.id/" target="_blank"><img src="static/images/logo-tni.png" alt="Logo TNI"></a></li>
                        <li><a href="https://www.tnial.mil.id/komando" target="_blank"><img src="static/images/logo-komando.png" alt="Logo Komando"></a></li>
                        <li><a href="https://www.tnial.mil.id/kodiklatal" target="_blank"><img src="static/images/logo-kodiklatal.png" alt="Logo Kodiklatal"></a></li>
                        <li><a href="https://www.tnial.mil.id/lantamal-jakarta" target="_blank"><img src="static/images/logo-lantamal.png" alt="Logo Lantamal"></a></li>
                        <li><a href="https://www.tnial.mil.id/puspenerbal" target="_blank"><img src="static/images/logo-puspenerbal.png" alt="Logo Puspenerbal"></a></li>
                        <li><a href="https://www.tnial.mil.id/pusdiklatpassus" target="_blank"><img src="static/images/logo-pusdiklatpassus.png" alt="Logo Pusdiklatpassus"></a></li>
                    </ul>
                </div>
                <div class="orange-box">
                    <div class="text-orange">
                        <h4>Link Eksternal</h4>
                        <ul>
                            <li><a href="https://www.hukumonline.com/" target="_blank">Hukum Online</a></li>
                            <li><a href="https://www.mahkamahagung.go.id/" target="_blank">Mahkamah Agung</a></li>
                            <li><a href="https://www.mkri.id/" target="_blank">Mahkamah Konstitusi</a></li>
                            <li><a href="https://www.kpk.go.id/" target="_blank">Komisi Pemberantasan Korupsi</a></li>
                            <li><a href="https://www.bphn.go.id/" target="_blank">Badan Pembinaan Hukum Nasional</a></li>
                            <li><a href="https://peraturan.bpk.go.id/Home" target="_blank">Peraturan BPK</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div id="footer" class="container">
            <div class="footer-content-left">
                <h5>Copyright © Diskumal</h5>
                <p>MABES TNI AL Cilangkap - Jakarta Timur</p>
                <p>kontak</p>
            </div>
            <div class="footer-content-right">
                <h5>Our Social Media</h5>
                <i class="fi fi-brands-facebook"></i>
                <i class="fi fi-brands-tik-tok"></i>
                <i class="fi fi-brands-instagram"></i>
                <i class="fi fi-brands-youtube"></i>
            </div>
        </div>
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('visitorChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Hari ini', 'Kemarin', 'Minggu ini', 'Bulan ini'],
            datasets: [{
                label: 'Jumlah Pengunjung',
                data: [48, 44, 350, 1520],
                backgroundColor: '#5b7ea7'
            }]
        },
        options: {
            indexAxis: 'y',
            responsive: true,
            plugins: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Statistik Pengunjung Diskumal'
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>